<ul class="pager">
  {{#if prev}}
  <li class="previous"><a href="{{page_url prev}}">&larr; Newer</a></li>
  {{else}}
  <li class="previous disabled"><a href="#">&larr; Newer</a></li>
  {{/if}}
	{{#if next}}
  <li class="next"><a href="{{page_url next}}">Older &rarr;</a></li>
  {{else}}
  <li class="next disabled"><a href="#">Older &rarr;</a></li>
  {{/if}}
</ul>