{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{#post}}
<div class="blog-post {{post_class}}">
	<h2 class="blog-post-title"><a href="{{url}}">{{{title}}}</a></h2>
	
	{{content}}
	
</div><!-- /.blog-post -->
{{/post}}